body {
  color: #fff;
  font-family: 'Dancing Script', cursive;
  text-align: center;
  background-color: #3e50b4;
  background-color: #263238;
}

a {
  color: #eee;
}

a:hover {
  color: #fff;
}


/*Man board*/

.game-board {
  width: 330px;
  height: 330px;
  margin: 0 auto;
  padding: 15px;
  background-color: #212121;
  border-radius: 50%;
  position: relative;
  box-shadow: 0 0 10px #222;
}


/*Game backgorund color buttons*/

.buttons {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 50%;
  position: relative;
}

.button {
  position: absolute;
  height: 48%;
  width: 48%;
}

.button.green {
  background-color: #4bae4f;
}

.button.red {
  background-color: #f34236;
  top: 0;
  right: 0;
}

.button.blue {
  background-color: #2196f3;
  bottom: 0;
  right: 0;
}

.button.yellow {
  background-color: #fcbf07;
  bottom: 0;
  left: 0;
}


/*active state*/

.button.green.active {
  background-color: #8bc34a;
}

.button.red.active {
  background-color: #ff5722;
  top: 0;
  right: 0;
}

.button.blue.active {
  background-color: #64b5f6;
  bottom: 0;
  right: 0;
}

.button.yellow.active {
  background-color: #fce83a;
  bottom: 0;
  left: 0;
}


/*Game menu controls*/

.controls {
  width: 50%;
  height: 50%;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 25%;
  bottom: 25%;
  background-color: #212121;
  border-radius: 50%;
  color: #212121;
}

.controls .container {
  position: relative;
  width: 80%;
  height: 80%;
  margin: 0 auto;
  top: 6%;
  padding: 4%;
  background-color: #fefefe;
  border-radius: 50%;
}

.controls .container h3 {
  margin-top: 0;
  font-weight: bold;
  font-size: 3em;
  margin-bottom: 10px;
}
